body
{
    background-color: $background-color;    
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: auto;
    margin-top: 1rem;
}

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $navbar-color;
    padding: 2rem;
    color: $main-color;
    text-align: center;
}

h2
{
    font-size: 2rem;
    margin: 1rem;
}

a
{
    text-decoration: none;
}

a:visited
{
    color: white;
}

a:active
{
    color: black;
}

button
{
    cursor: pointer;
}