
$main-color: #f34213;
$background-color: #2e2e3a;
$background-color-2: #2b2b34;
$background-color-3: #292931;
$font-color: white;
$navbar-color: #212529;

$color-1: #de9151;
$color-2: #bc5d2e;
$color-4: #bbb8b2;
$color-7: #1f1f27;
$color-8: #292931;