*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
}

@import "variable.scss";
@import "mixin.scss";
@import "class.scss";
@import "tag.scss";
@import "id.scss";
@import "animation.scss";
